<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.E_Commerce_Coffee_And_TeaConnectionString"
            connectionString="Data Source=KAMLING;Initial Catalog=E-Commerce_Coffee_And_Tea;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>